
h2 {
    text-align: center;
    padding-top: 50px;
}

.paragraphs {
    padding: 30px 150px 50px 150px;
}

@media (max-width: 768px) {

    h2 {
        padding: 30px 0 0;
    }

    .paragraphs {
        padding: 30px 50px 30px 50px;
    }

}
