
h2 {
    text-align: center;
    padding-top: 50px;
}

.map-placeholder {
    margin: auto;
    width: 80%;
    padding: 30px 10px 10px;
}

.leaflet-container {
    width: 100%;
    height: 300px;
}

@media (max-width: 768px) {

    h2 {
        padding: 20px 0 0;
        text-align: center;
    }

}
