
.gallery {
    width: 100%;
    padding: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-gap: 50px;
}

.gallery-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
