
.pagination {
    justify-content: center;
}

.carousel-caption {
    text-shadow: #000000 1px 0 10px;
}

.slide {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.search-form {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 150px;
}

.search-form button {
    height: fit-content;
    margin-left: 10px;
}

@media (max-width: 768px) {

    .slide {
        height: 200px;
    }

    .search-form {
        padding-top: 30px;
        margin: auto;
        justify-content: center;
    }
}
