
.nav-bar {
    background-color: skyblue;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-bar Button {
    margin: 0.5%;
}

.nav-bar li {
    margin: 0.5em;
    font-size: 1.5em;
    color: white;
}
