
.post-card {
    width: 40%;
    display: flex;
    margin: 20px auto;
}

.post-card > * {
    padding: 40px;
}

.post-card > h3 {
    padding: 20px 40px;
}

.post-card > p {
    padding: 0 40px 0;
    white-space: pre-wrap;
}

.photo {
    width: 95%;
    padding: 20px;
    margin: auto;
}

.links {
    display: inline;
}

.links > a:first-child {
    padding-right: 20px;
}

.playlist-link {
    text-decoration: none;
}


@media (max-width: 768px) {

    .post-card {
        width: 90%;
    }

    .post-card > * {
        padding: 10px;
    }

    .photo {
        width: 95%;
    }

    .links {
        text-align: center;
    }
}

